<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scanPeriod="60 seconds" >
	<!-- 日志最大的历史 7天 -->
	<property name="maxHistory" value="30" />
	<!-- 日志最大的文件大小 300MB -->
	<property name="maxFileSize" value="100MB" />
	<!-- 日志存储位置 -->
	<property name="logPath" value="/data/logs/shardingdemo" />

	<!-- TRACE级别日志 appender -->
	<appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 过滤器，只记录TRACE级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logPath}/trace-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>
				${logPath}/%d{yyyy-MM-dd}/trace-log.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<!-- 日志最大的历史 30天 -->
			<maxHistory>${maxHistory}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>


	<!-- INFO级别日志 appender -->
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 过滤器，只记录INFO级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logPath}/info-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>
				${logPath}/%d{yyyy-MM-dd}/info-log.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<!-- 日志最大的历史 30天 -->
			<maxHistory>${maxHistory}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- ERROR级别日志 appender -->
	<appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 过滤器，过滤掉 TRACE 和 DEBUG 和 INFO 级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>${logPath}/error-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>
				${logPath}/%d{yyyy-MM-dd}/error-log.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<!-- 日志最大的历史 30天 -->
			<maxHistory>${maxHistory}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${maxFileSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter>
			<evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
				<expression><![CDATA[
		             event.getThreadName().contains("Catalina")
		             || event.getLoggerName().contains("c.x.a.m")
		          ]]></expression>
			</evaluator>
			<OnMismatch>NEUTRAL</OnMismatch>
			<OnMatch>DENY</OnMatch>
		</filter>
	</appender>

    <logger name="dao" level="DEBUG">
    	<appender-ref ref="FILE-AUDIT" />
    </logger>

    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.xiaomi.test.sharding" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>

	<logger name="com.xiaomi.apus.server" level="OFF"/>

    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="error">
        <appender-ref ref="FILE-ERROR" />
        <appender-ref ref="STDOUT" />
    </root>

	<!-- root级别   DEBUG -->
	<root level="debug">
		<!-- 控制台输出 -->
		<appender-ref ref="STDOUT" />
		<!-- 文件输出 -->
		<appender-ref ref="ERROR_LOG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="TRACE" />
	</root>

</configuration>